 {
    "presets": ["@babel/preset-react"],
    "plugins": ["@babel/plugin-proposal-class-properties"],
    "env": {
      "production": {
        "presets": ["minify"],
        "plugins": ["babel-plugin-transform-remove-console"]
      }
    }
}